MQTT_HOST=192.168.1.10
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=

DEVICE_IP=192.168.1.100
PRODUCT=PLAF203
SERIAL=YOUR_DEVICE_SERIAL
UID=YOUR_DEVICE_UID

GO2RTC_STREAM_NAME=petlibro_feeder
CAMERA_QUALITY=hd
ACK_MODE=hybrid
SEND_DELAY_CTRL=1
HD_PROBE_WAIT_MS=15000

GO2RTC_API_PORT=1984
GO2RTC_RTSP_PORT=8554
GO2RTC_WEBRTC_PORT=8555

PUBLISH_CAMERA_METADATA=1
CAMERA_METADATA_TOPIC_PREFIX=
CAMERA_METADATA_INTERVAL_SECONDS=30

VERBOSE_LOGS=0
ENABLE_DEBUG_DUMPS=0
