.git
.gitignore
.venv
**/.venv
**/__pycache__
**/*.py[cod]
.pytest_cache
**/.pytest_cache
.mypy_cache
**/.mypy_cache
.ruff_cache
**/.ruff_cache
.tox
**/.tox
.nox
**/.nox
*.egg-info
**/*.egg-info

tmp
**/tmp
*.log
**/*.log
*.dat
**/*.dat
capture
captures
**/capture
**/captures
debug-dumps
debug_dumps
**/debug-dumps
**/debug_dumps

.coverage
coverage.xml
coverage.json
junit.xml
htmlcov
**/.coverage
**/coverage.xml
**/coverage.json
**/junit.xml
**/htmlcov

/go2rtc/go2rtc
/go2rtc/petlibro-resolve
/docker/data
