.git
.gitignore
.venv
**/.venv
**/__pycache__
**/*.py[cod]
.pytest_cache
**/.pytest_cache

tmp
**/tmp
*.log
**/*.log
*.dat
**/*.dat
capture
captures
**/capture
**/captures
debug-dumps
debug_dumps
**/debug-dumps
**/debug_dumps

.coverage
coverage.xml
htmlcov
**/.coverage
**/coverage.xml
**/htmlcov

/go2rtc/go2rtc
/go2rtc/petlibro-resolve
/docker/data
