plaf203:
  module: plaf203
  class: Plaf203
  product: ${PRODUCT}
  serial_number: ${SERIAL}
  mqtt_host: ${MQTT_HOST}
  mqtt_port: ${MQTT_PORT}
  https_addr: ${MQTT_HOST}
  tutk_p2p_region: REGION_US
  go2rtc_stream_name: ${STREAM_NAME}
  camera_quality: ${CAMERA_QUALITY}
  hd_probe_wait_ms: ${HD_PROBE_WAIT_MS}
  go2rtc_rtsp_port: ${RTSP_PORT}
  publish_camera_metadata: ${PUBLISH_CAMERA_METADATA}
  camera_status_file: ${CAMERA_STATUS_FILE}
  camera_metadata_topic_prefix: ${CAMERA_METADATA_TOPIC_PREFIX}
  camera_metadata_interval_seconds: ${CAMERA_METADATA_INTERVAL_SECONDS}
