log:
  level: ${LOG_LEVEL}
  petlibro: ${PETLIBRO_LOG_LEVEL}
  streams: ${LOG_LEVEL}
  rtsp: ${LOG_LEVEL}
  webrtc: ${LOG_LEVEL}

api:
  listen: ${API_LISTEN}

rtsp:
  listen: ${RTSP_LISTEN}

webrtc:
  listen: ${WEBRTC_LISTEN}

streams:
${STREAMS}
